@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	--titre-font: "Cinzel Decorative", Arial, sans-serif;
	--sous-titre-font: "Bebas Neue", Arial, sans-serif;
	--main-font: "Lato", Arial, sans-serif;

	--Bronze-steampunk: #a9713c;
	--Bleu-nuit-magique: #0e1a2b;
	--Vert-émeraude-féerique: #0b6e4f;
	--Or-Aetherion: #d8a944;
	--Violet-nexus: #441a67;
	--Radiant-vert: radial-gradient(at center, #0c4d3a, #0c513c00);
	--Radiant-violet: radial-gradient(at center, #441a67, #441a6700);
	--Radiant-bronze: radial-gradient(at center, #a9713c, #a9713c00);
	--Radiant-or: radial-gradient(at center, #d8a944, #d8a94400);

	--linear-bleu: linear-gradient(to bottom, #0e1a2b, #172942);
	--linear-bleu-arriere-plan: linear-gradient(to bottom, #0e1a2b, #0e112b);

	--ombre-dorée: 0px 0px 20px 0px rgba(216, 169, 68, 0.5);
}
body {
	font-family: var(--linear-bleu2);
	background-color: var(--Bleu-nuit-magique);
	color: antiquewhite;
}
h1,
h2 {
	font-family: var(--titre-font);
	color: var(--Or-Aetherion);
}
h3,
h4 {
	font-family: var(--sous-titre-font);
	font-weight: normal;
}

header ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	font-size: 36px;
	color: var(--Or-Aetherion);
	font-family: "Cinzel Decorative";
	font-weight: 700;
}

header li {
	background: linear-gradient(180deg, #0e1a2b 0%, #0e112b 100%);
	box-shadow: 0px 0px 20px 0px #d8a94466;
	border-radius: 25px;
	padding: 15px;
}

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 70px;
}

footer div {
	background: radial-gradient(50% 50% at 50% 50%, #2b4872 27.88%, #1b2d47 91.83%);
	border-radius: 25px;
	text-align: center;
}

footer li {
	margin-top: 7px;
	list-style: none;
}

footer li:first-child {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}